<ul
  id="header-menu-{{ link.title | handleize }}"
  class="absolute top-full left-0 mt-3 min-w-[220px] transition-menu bg-white border border-gray-200 shadow-lg z-20 py-2"
>
  {% for childlink in link.links %}
    <li class="relative">
      <!-- Parent link -->
      <a
        type="button"
        href="{{ childlink.url }}"
        aria-label="{{ childlink.title }}"
        class="flex items-center gap-x-2 justify-between w-full px-4 py-2 hover:bg-gray-100 js-toggle-grandchild"
        aria-expanded="false"
      >
        <div class="flex items-center gap-x-2 flex-1">
          {% if childlink.object.featured_image %}
            <img
              src="{{ childlink.object.featured_image | img_url  }}"
              alt="{{ childlink.title }}_{{ childlink.id }}"
              class="w-4 h-4 object-cover rounded"
              width="40"
              height="40"
            >
          {% endif %}
          {{ childlink.title }}
        </div>
        {% if childlink.links != blank %}
          {%- render 'icons', icon: 'icon-chevron-right' %}
        {% endif %}
      </a>

      {% if childlink.links != blank %}
        <ul class="absolute top-0 left-full -translate-y-2  min-w-[200px] transition-menu bg-white border border-gray-200 shadow-lg py-2">
          {% for grandchild in childlink.links %}
            <li>
              <a
                href="{{ grandchild.url }}"
                aria-label="{{ grandchild.title }}"
                class="flex items-center gap-x-2 px-4 py-2 hover:bg-gray-100 text-nowrap"
              >
                {% if grandchild.object.featured_image %}
                  <img
                    src="{{ grandchild.object.featured_image | img_url }}"
                    alt="{{ grandchild.title }}_{{ grandchild.id }}"
                    class="w-4 h-4 object-cover rounded"
                    width="40"
                    height="40"
                  >
                {% endif %}
                {{ grandchild.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
