<div class="flex justify-end xl:w-auto w-1/2">
  <ul class="flex items-center">
    <li class="ml-2 lg:mx-4 relative">
      <div class="relative">
        <button type="button" id="language-toggle" class="flex items-center gap-1 focus:outline-none">
          <span id="selected-language" class="uppercase text-sm font-medium">
            {{ localization.language.iso_code }}
          </span>
        </button>

        <div
          id="language-menu"
          class="absolute mt-2 w-48 bg-white rounded shadow-lg z-10 hidden
                 {% if localization.language.iso_code != 'en' %}
                   left-0 lg:left-auto lg:right-1/2 lg:translate-x-1/2
                 {% else %}
                   right-0 lg:right-auto lg:left-1/2 lg:-translate-x-1/2
                 {% endif %}
                 transform transition-all duration-200 ease-out"
        >
          <ul class="py-1">
            {% form 'localization', class: 'localization-form' %}
              {% for language in localization.available_languages %}
                <li>
                  <a
                    href="{{ language.root_url }}"
                    lang="{{ language.iso_code }}"
                    data-value="{{ language.iso_code }}"
                    class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-200 {% if language.iso_code == localization.language.iso_code %}bg-gray-100 font-semibold{% endif %}"
                    {% if language.iso_code == localization.language.iso_code %}
                      aria-current="true"
                    {% endif %}
                  >
                    {{ language.endonym_name }}
                  </a>
                </li>
              {% endfor %}
            {% endform %}
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
