{% if pagination.pages > 1 %}
  <nav role="navigation" class="flex justify-center items-center space-x-4 my-8">
    <!-- Previous Button -->
    {%- if pagination.previous -%}
      <a
        href="{{ pagination.previous.url }}"
        class="px-4 py-2 bg-[#c42764] hover:bg-[#f2bed2] text-white hover:text-[#c42764] font-medium rounded-md shadow-md transition duration-200"
      >
        {{ pagination.previous.title }}
      </a>
    {%- endif -%}

    {% for part in pagination.parts %}
      {% if part.is_link %}
        <a
          href="{{ part.url }}"
          class="px-4 py-2 bg-[#c42764] hover:bg-[#f2bed2] text-white hover:text-[#c42764] font-medium rounded-md shadow-md transition duration-200"
        >
          {{ part.title }}
        </a>
      {%- else -%}
        <span
          class="px-4 py-2 bg-[#f2bed2] text-white hover:text-[#c42764] font-medium rounded-md shadow-md transition duration-200"
        >
          {{ part.title }}
        </span>
      {% endif %}
    {% endfor %}
    <!-- Next Button -->
    {%- if pagination.next -%}
      <a
        href="{{ pagination.next.url }}"
        class="px-4 py-2 bg-[#c42764] hover:bg-[#f2bed2] text-white hover:text-[#c42764] font-medium rounded-md shadow-md transition duration-200"
      >
        {{ pagination.next.title }}
      </a>
    {%- endif -%}
  </nav>
{% endif %}