{% liquid
  assign text_alignment = settings.productcards_text_alignment
  assign sale_label = settings.show_sale_label
  assign sale_label_price = settings.sale_label_price
  assign show_stock = settings.show_stock_label
  assign stock_qty = settings.stock_label_qty
  assign show_price = settings.show_price_varies
  assign show_stock_available = settings.show_product_stock
  assign show_stock_qty = settings.show_product_stock_qty
  assign show_stock_always = settings.show_product_stock_always
  assign show_rating = settings.show_product_rating
  assign show_vendor = settings.show_vendor
  assign show_preorder = settings.show_preorder
  assign show_preorder_inventory = settings.show_preorder_inventory
  assign preorder_label = settings.preorder_button_text | default: 'Pre-order'
  assign product_short_description = settings.product_short_description
  assign product_short_description_text = settings.product_short_description_text
  assign product_titles_caps = settings.product_titles_caps
  assign enable_color_swatches = settings.enable_color_swatches
  assign cart_drawer = settings.enable_cart_drawer
  assign add_to_cart_button = settings.show_addtocart
  assign input_field = settings.show_input_field
  assign product_card_shadow = settings.product_card_shadow

  # قيمة افتراضية لتفادي undefined
  assign show_container = ''

  if product_card_shadow
    assign image_shadow = settings.product_image_shadow_color
    assign shadow_value = settings.product_image_shadow_value
    assign shadow_blur = settings.product_image_shadow_blur
  endif

  if product
    assign product_url = product.url | within: collection
    assign stock = product.inventory_quantity | default: product.variants.first.inventory_quantity
    assign variant_id = product.variants.first.id
    assign variant_policy = product.variants.first.inventory_policy
    assign variant_qty = product.variants.first.inventory_quantity

    if product.featured_image and settings.image_hover_style != 'none'
      assign image_style = 'hover-zoom ' | append: settings.image_hover_style
    else
      assign image_style = 'transform group-hover:scale-105 transition-transform duration-500'
    endif

    if sale_label and product.compare_at_price > product.price
      assign discount_amount = product.compare_at_price | minus: product.price
      assign discount_percentage = discount_amount | times: 100 | divided_by: product.compare_at_price
    endif

    if show_stock and stock < stock_qty
      assign stock_label = 'productCard.laststock' | t
      assign stock_bg_color = 'bg-[#c42764]'
    elsif show_stock_always
      assign stock_label = stock
      assign stock_bg_color = 'bg-[#1C2228]'
    elsif show_stock_available and stock > show_stock_qty
      assign stock_label = stock
      assign stock_bg_color = 'bg-[#1C2228]'
    else
      assign stock_label = ''
      assign show_container = 'hidden'
    endif

    if sale_label and product.price < product.compare_at_price
      case sale_label_price
        when 'amount'
          assign discount_label = discount_amount | money
          assign discount_bg_color = 'bg-red-950'
        when 'percentage'
          assign discount_label = discount_percentage
          assign discount_bg_color = 'bg-red-950'
        else
          assign discount_label = ''
          assign discount_bg_color = 'bg-none'
          assign show_container = 'hidden'
      endcase
    endif
  endif
%}

{% if product %}
  {% form 'product', product, id: 'product-form', novalidate: 'novalidate', class: 'w-full' %}
    <div
      :class="
        layoutType === 'grid'
        ? 'grid-style'
        : 'horizontal-style'
      "
    >
      <input type="hidden" name="id" value="{{ variant_id }}">
      {% if product.featured_image %}
        <a
          href="{{ product_url }}"
          class="block relative overflow-hidden max-h-[200px] aspect-[200/200] {{ image_style }}"
          style="box-shadow: -{{ shadow_value }}px {{ shadow_value }}px {{ shadow_blur }}px {{ image_shadow }};"
        >
          {%
            render 'image',
            image: product.featured_image.src,
            alt: product.featured_image.alt | escape,
            class: 'object-cover w-full h-full transition-transform duration-300 ease-in-out hover:scale-105',
            loading: 'lazy'
          %}

          <div class="absolute bottom-0 w-full flex justify-between">
            <div class="relative {{ show_container }} flex justify-center items-center w-1/4 min-w-fit p-1 group rounded-tr-full {{ discount_bg_color }} text-white overflow-hidden">
              <div
                class="absolute inset-0 hidden bg-white opacity-75 transition-opacity duration-300 group-hover:opacity-0"
              ></div>
              <span class="relative z-10 text-xs font-bold text-nowrap">
                {{ discount_label }}
              </span>
            </div>
            <div class="relative {{ show_container }} flex justify-center items-center w-1/4 min-w-fit p-1 group rounded-tl-full {{ stock_bg_color }} text-white overflow-hidden">
              <div
                class="absolute inset-0 hidden bg-white opacity-75 transition-opacity duration-300 group-hover:opacity-0"
              ></div>
              <span class="relative z-10 text-xs font-bold text-nowrap">
                {{ stock_label }}
              </span>
            </div>
          </div>
        </a>
      {% else %}
        <div class="w-full h-48 bg-gray-200 flex items-center justify-center mb-4">
          <span class="text-gray-500">{{ 'productCard.no_image' | t }}</span>
        </div>
      {% endif %}

      <div
        class="mt-4 shrink-0 h-full"
        :class="
          layoutType === 'grid'
          ? '{{ text_alignment }}'
          : 'text-start'
        "
      >
        {% render 'product-card-details',
          product: product,
          show_vendor: show_vendor,
          product_titles_caps: product_titles_caps,
          product_short_description: product_short_description,
          product_short_description_text: product_short_description_text,
          show_rating: show_rating,
          show_price: show_price,
          enable_color_swatches: enable_color_swatches,
          product_url: product_url
        %}
      </div>

      {% if add_to_cart_button %}
        <div class="flex justify-between items-center h-full border border-[#c42764] mt-4 text-xs">
          {% if show_preorder and variant_policy == 'continue' %}
            <button
              aria-label="preorder"
              class="w-full h-full py-2 bg-[#c42764] hover:bg-[#f2bed2] text-white hover:text-[#c42764]"
              title="{% if show_preorder_inventory %}Available for pre-order: {{ variant_qty }} pieces{% endif %}"
            >
              {{ preorder_label }}
            </button>
          {% else %}
            {% if input_field %}
              <input
                type="number"
                aria-label="quantity"
                id="Quantity-{{ variant_id }}"
                name="quantity"
                value="1"
                min="1"
                class="w-1/3 h-full align-middle outline-none text-center justify-center items-center"
              >
            {% endif %}
            {% if cart_drawer %}
              <button
                type="button"
                name="add"
                aria-label="add to cart"
                class="flex justify-center bg-[#c42764] hover:bg-[#f2bed2] text-white hover:text-[#c42764] h-full py-2 m-0 {% if input_field %}w-2/3{% else %}w-full{% endif %}"
                @click="addToCart('{{ variant_id }}'); openCart = true"
              >
                {% render 'icons', icon: 'icon-cart' %}
              </button>
            {% else %}
              <button
                type="submit"
                name="add"
                aria-label="add to cart"
                class="flex justify-center bg-[#c42764] hover:bg-[#f2bed2] text-white hover:text-[#c42764] h-full py-2 m-0 {% if input_field %}w-2/3{% else %}w-full{% endif %}"
              >
                {% render 'icons', icon: 'icon-cart' %}
              </button>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endform %}
{% else %}
  <div class="w-full h-48 bg-gray-200 flex items-center justify-center mb-4">
    <span class="text-gray-500">Product not available</span>
  </div>
{% endif %}
