{% liquid
  assign img_width = width | default: '400'
  assign img_height = height | default: '400'
%}

{% case media.media_type %}
  {% when 'image' %}
    {%
      render 'image',
      image: media.preview_image ,
      url: shop.url,
      alt: shop.name,
      class: "",
      width: img_width ,
      height: img_height ,
      id : media.id ;
      sizes: "(max-width: 640px) 60px, (max-width: 1024px) 70px, 80px"
    %}
  {% when 'external_video' %}
    {{ media | external_video_tag: class: 'w-[400px] h-[400px] object-cover' }}

  {% when 'video' %}
    {{ media | video_tag: controls: true, class: 'w-[80] h-[80] md:w-[400px] md:h-[400px] object-cover' }}
  {% when 'model' %}
    <product-model data-media-id="{{ media.id }}">
      <div>
        <button
          id="productModelOpenButton_{{ media.id }}"
          aria-label="{{ media.alt }}"
          x-on:click="productModalOpen = true"
          class="w-[400px] h-[400px] bg-gray-100 border relative"
        >
          <span class="border bg-gray-100 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            {%- render 'icons', icon: 'icon-model-viewer' %}
          </span>
          <img
            src="{{ media.preview_image | image_url: width: 800 }}"
            alt="{{ media.alt }}"
            class="w-full h-full object-cover"
            width="auto"
            height="auto"
            data-media-id="{{ media.id }}"
          >
        </button>
      </div>

      <template>
        {{ media | model_viewer_tag: reveal: 'interaction' }}
      </template>
    </product-model>

  {% else %}
    {{ media | media_tag }}
{% endcase %}
