<div class="recently-viewed-card">
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | image_url: width: 300 }}" alt="{{ product.title }}" width="" height="">
    <h3>{{ product.title }}</h3>
    <span>{{ product.price | money }}</span>
  </a>
</div>