{%- assign text_alignment = settings.productcards_text_alignment -%}
{%- assign sale_label = settings.show_sale_label -%}
{%- assign sale_label_price = settings.sale_label_price -%}
{%- assign show_stock = settings.show_stock_label -%}
{%- assign stock_qty = settings.stock_label_qty -%}
{%- assign show_price = settings.show_price_varies -%}
{%- assign show_stock_available = settings.show_product_stock -%}
{%- assign show_stock_qty = settings.show_product_stock_qty -%}
{%- assign show_stock_always = settings.show_product_stock_always -%}
{%- assign show_rating = settings.show_product_rating -%}
{%- assign show_vendor = settings.show_vendor -%}
{%- assign show_preorder = settings.show_preorder -%}
{%- assign show_preorder_inventory = settings.show_preorder_inventory -%}
{%- assign preorder_label = settings.preorder_button_text | default: 'Pre-order' -%}
{%- assign product_short_description = settings.product_short_description -%}
{%- assign product_short_description_text = settings.product_short_description_text -%}
{%- assign product_titles_caps = settings.product_titles_caps -%}
{%- assign enable_color_swatches = settings.enable_color_swatches -%}
{%- assign cart_drawer = settings.enable_cart_drawer -%}
{%- assign add_to_cart_button = settings.show_addtocart -%}
{%- assign input_field = settings.show_input_field -%}

<style>
  .swiper-button-next,
  .swiper-button-prev {
    width: 10px;
  }
  .swiper-button-next::after {
    content: '›';
    color: black;
    font-size: 20px;
  }

  .swiper-button-prev::after {
    content: '‹';
    color: black;
    font-size: 20px;
  }
</style>

<div class="lg:w-60 h-fit bg-white p-4 overflow-hidden">
  {% if product %}
    {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
      {% liquid
        assign my_swiper_class = 'mySwiper-' | append: product.id
        assign next_button_class = 'swiper-next-' | append: product.id
        assign prev_button_class = 'swiper-prev-' | append: product.id
        if product.featured_image
          assign image_style = 'hover-zoom ' | append: settings.image_hover_style
        else
          assign image_style = 'hover-zoom hover-zoom--empty'
        endif
      %}

      <input type="hidden" name="id" value="{{ product.variants.first.id }}">

      {% if product.featured_image %}
        <a href="{{ product.url | within: collection }}" class="block relative {{ image_style }}">
          <img
            src="{{ product.featured_image.src | img_url: 'medium' }}"
            alt="{{ product.featured_image.alt | escape }}"
            class="w-full h-48 object-cover mb-4 transition-transform duration-300 ease-in-out hover:scale-105"
            loading="lazy"
            width=""
            height=""
          >
          {% if sale_label and product.price < product.compare_at_price %}
            <div class="absolute left-2 top-2">
              {% assign discount_amount = product.compare_at_price | minus: product.price %}
              {% assign discount_percentage = discount_amount | times: 100 | divided_by: product.compare_at_price %}
              <span class="px-5 py-1 text-xs font-bold bg-red-500ll text-white">
                {% case sale_label_price %}
                  {% when 'amount' %}
                    -{{ discount_amount | money }}
                  {% when 'percentage' %}
                    -{{ discount_percentage }}%
                  {% else %}
                    sale
                {% endcase %}
              </span>
            </div>
          {% endif %}
          {%- assign stock = product.inventory_quantity | default: product.variants.first.inventory_quantity -%}
          {% liquid
            if show_stock and stock < stock_qty
              assign stock_label = 'productCard.laststock' | t
              assign bg_color = 'bg-[#c42764]'
            elsif show_stock_always
              assign stock_label = stock
              assign bg_color = 'bg-yellow-400'
            elsif show_stock_available and stock > show_stock_qty
              assign stock_label = stock
              assign bg_color = 'bg-yellow-400'
            else
              assign stock_label = ''
            endif
          %}
          <div class="absolute bottom-0 w-full flex justify-end">
            <div class="relative flex justify-center items-center w-1/4 min-w-fit p-1 group {{ bg_color }} text-white -full overflow-hidden">
              <!-- الطبقة البيضاء الشفافة -->
              <div
                class="absolute inset-0 hidden bg-white opacity-75 transition-opacity duration-300 group-hover:opacity-0"
              ></div>

              <!-- المحتوى -->
              <span class="relative z-10 text-xs font-bold text-nowrap">
                {{ stock_label }}
              </span>
            </div>
          </div>
        </a>
      {% else %}
        <div class="w-full h-48 bg-gray-200 flex items-center justify-center mb-4">
          <span class="text-gray-500">{{ 'productCard.no_image' | t }}</span>
        </div>
      {% endif %}

      <div class="{{ text_alignment }}">
        {% if show_vendor %}
          <span class="text-xs text-gray-500 block truncate">
            {% if product.vendor contains 'color:' %}
              <span
                class="inline-block w-4 h-4"
                style="background-color: {{ product.vendor | remove: 'color:' }};"
              ></span>
            {% else %}
              {{ product.vendor }}
            {% endif %}
          </span>
        {% endif %}

        <a
          href="{{ product.url | within: collection }}"
          title="{{ product.title | escape }}"
          class="text-xs font-bold text-gray-800 hover:text-blue-500 block truncate {% if product_titles_caps %} uppercase {% endif %}"
        >
          {{ product.title }}
        </a>

        {% if product_short_description == 'product_description' %}
          <div class="mt-2 flex w-full justify-center items-center mx-auto text-xs text-gray-500 truncate">
            {% if product.description != blank %}
              {{ product.description }}
            {% else %}
              this product has not description
            {% endif %}
          </div>
        {% elsif product_short_description == 'custom' %}
          <div class="mt-2 flex w-full justify-center items-center mx-auto text-xs text-gray-500 truncate">
            {{ product_short_description_text }}
          </div>
        {% endif %}

        {% if show_rating %}
          <div class="mt-2 flex w-full justify-center items-center text-xs">
            {% assign full_stars = product.metafields.reviews.rating | floor %}
            {% assign half_star = product.metafields.reviews.rating | modulo: 1 %}
            {% assign empty_stars = 5 | minus: full_stars | minus: half_star | floor %}

            {% for i in (1..full_stars) %}
              <span class="text-yellow-500">★</span>
            {% endfor %}

            {% if half_star > 0 %}
              <span class="text-yellow-500">☆</span>
            {% endif %}

            {% for i in (1..empty_stars) %}
              <span class="text-gray-300">☆</span>
            {% endfor %}
          </div>
        {% endif %}

        <p class="text-xs font-bold text-gray-700 mt-2">
          {% if show_price %}
            {% if product.compare_at_price > product.price %}
              <span class="text-xs text-red-500 line-through">{{ product.compare_at_price | money }}</span>
            {% endif %}
            <span class="text-xs text-gray-900">{{ product.price | money }}</span>
          {% endif %}
        </p>

        {% if settings.enable_color_swatches %}
          <div x-data="{ open: false }" class="text-center relative mt-2">
            <button
              type="button"
              @click="open = !open"
              class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 text-sm"
            >
              <span x-show="!open">Show Colors</span>
              <span x-show="open">Hide Colors</span>
            </button>

            <div
              x-show="open"
              x-transition
              class="mt-2 absolute flex h-fit w-full z-40 justify-center text-sm bg-white"
            >
              {% render 'product-variant', product: product, display_type: 'color' %}
            </div>
          </div>
        {% endif %}

        {% if add_to_cart_button %}
          <div class="flex justify-between items-center border border-[#c42764] mt-4 text-xs">
            {% if show_preorder and product.variants.first.inventory_policy == 'continue' %}
              <button
                class="w-full h-full py-3 bg-[#c42764] hover:bg-[#f2bed2] text-white hover:text-[#c42764]"
                title="{% if show_preorder_inventory %}Available for pre-order: {{ product.variants.first.inventory_quantity }} pieces{% endif %}"
              >
                {{ preorder_label }}
              </button>

            {% else %}
              {%- if input_field -%}
                <input
                  type="number"
                  id="Quantity-{{ product.variants.first.id }}"
                  name="quantity"
                  value="1"
                  min="1"
                  class="w-1/3 h-full align-middle outline-none text-center justify-center items-center"
                >
              {%- endif -%}
              {%- if cart_drawer -%}
                <button
                  type="button"
                  name="add"
                  class="flex justify-center bg-[#c42764] hover:bg-[#f2bed2] text-white hover:text-[#c42764] h-full py-2 m-0 {% if input_field %}w-2/3{% else %}w-full{% endif %}"
                  @click="addToCart('{{ product.variants.first.id }}'); openCart = true"
                >
                  {%- render 'icons' , icon: 'cart' %}
                </button>
              {%- else -%}
                <button
                  type="submit"
                  name="add"
                  class="flex justify-center bg-[#c42764] hover:bg-[#f2bed2] text-white hover:text-[#c42764] h-full py-2 m-0 {% if input_field %}w-2/3{% else %}w-full{% endif %} "
                >
                  {%- render 'icons' , icon: 'cart' %}
                </button>
              {%- endif -%}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endform %}
  {% else %}
    <div class="w-full h-48 bg-gray-200 flex items-center justify-center mb-4">
      <span class="text-gray-500">Product not available</span>
    </div>
  {% endif %}
</div>

<script src="{{ 'swiper-init.js' | asset_url }}" defer></script>
