{% doc %}
  Renders a text block.

  @example
  {% content_for 'block', type: 'tools', id: 'tools' %}
{% enddoc %}

<div class="header__menu relative w-full" {{ block.shopify_attributes }}>
  <ul class="flex px-{{ block.settings.menu_horizontal_padding }} {{ block.settings.menu_width }} justify-between items-center space-x-6 text-gray-600 hover:text-black">
    {% for link in block.settings.menu.links %}
      {% if link.links != blank %}
        <li class="relative">
          <button
            class="flex items-center gap-x-1 text-sm font-medium js-toggle-header-menu"
            id="list-toggle-{{ link.title | handleize }}"
            data-target="header-menu-{{ link.title | handleize }}"
          >
            {{ link.title }}
            {% render 'icon-chevron-down' %}
          </button>

          <!-- Drop-down بدل Mega Menu -->
          <div
            id="header-menu-{{ link.title | handleize }}"
            class="absolute top-full left-0 mt-3 min-w-[220px] hidden bg-white border border-gray-200 shadow-lg z-20"
            style="transition: all 0.2s ease-in-out;"
          >
            <ul class="py-2">
              {% for childlink in link.links %}
                <li class="relative">
                  <!-- Parent link -->
                  <button
                    type="button"
                    class="flex items-center gap-x-2 justify-between w-full px-4 py-2 text-sm hover:bg-gray-100 js-toggle-grandchild"
                    aria-expanded="false"
                  >
                    <div class="flex items-center gap-x-2 flex-1">
                      {% if childlink.object.featured_image %}
                        <img
                          src="{{ childlink.object.featured_image | img_url: '50x50' }}"
                          alt="{{ childlink.title }}"
                          class="w-4 h-4 object-cover rounded"
                          width=""
                          height=""
                        >
                      {% endif %}
                      {{ childlink.title }}
                    </div>
                    {% if childlink.links != blank %}
                      {% render 'icon-chevron-right' %}
                    {% endif %}
                  </button>

                  {% if childlink.links != blank %}
                    <ul class="absolute top-0 left-full -translate-y-2  min-w-[200px] hidden bg-white border border-gray-200 shadow-lg py-2">
                      {% for grandchild in childlink.links %}
                        <li>
                          <a
                            href="{{ grandchild.url }}"
                            class="flex items-center gap-x-2 px-4 py-2 text-xs hover:bg-gray-100 text-nowrap"
                          >
                            {% if grandchild.object.featured_image %}
                              <img
                                src="{{ grandchild.object.featured_image | img_url: '50x50' }}"
                                alt="{{ grandchild.title }}"
                                class="w-4 h-4 object-cover rounded"
                                width=""
                                height=""
                              >
                            {% endif %}
                            {{ grandchild.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% else %}
        <li>
          <a href="{{ link.url }}" class="text-sm">
            {{ link.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Menu Block",
  "class": "mx-auto w-screen relative",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "menu"
    },
    {
      "type": "select",
      "id": "menu_width",
      "label": "menu_width",
      "options": [
        {
          "value": "w-full",
          "label": "full"
        },
        {
          "value": "w-fit",
          "label": "fit"
        }
      ]
    },
    {
      "type": "range",
      "id": "menu_horizontal_padding",
      "label": "menu_horizontal_padding",
      "min": 0,
      "max": 12,
      "step": 2,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Menu Block",
      "category": "Header"
    }
  ]
}
{% endschema %}
