{% doc %}
  Renders a text block.

  @example
  {% content_for 'block', type: 'text', id: 'text' %}
{% enddoc %}

<p
  class="text-{{ block.settings.text_alignment }} w-full"
  style="
    font-size: {{ block.settings.font_size }}px;
    font-weight: {{ block.settings.font_weight }};
    font-style: {{ block.settings.font_style }};
    margin: 0;
    color: {{ settings.color_schemes[block.settings.color_scheme].settings.text }};
  "
  {{ block.shopify_attributes }}
>
  {{ block.settings.text }}
</p>

{% schema %}
{
  "name": "Plain Text Block",
  "settings": [
    { "type": "text", "id": "text", "label": "Text", "default": "Plain text block" },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font Size",
      "min": 12,
      "max": 48,
      "step": 1,
      "default": 16
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font Weight",
      "default": "normal",
      "options": [
        { "value": "normal", "label": "Normal" },
        { "value": "bold", "label": "Bold" },
        { "value": "lighter", "label": "Light" }
      ]
    },
    {
      "type": "select",
      "id": "font_style",
      "label": "Font Style",
      "default": "normal",
      "options": [
        { "value": "normal", "label": "Normal" },
        { "value": "italic", "label": "Italic" }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [{ "name": "Plain Text Block" }]
}
{% endschema %}
