{% doc %}
  Renders a text block.

  @example
  {% content_for 'block', type: 'text', id: 'text' %}
{% enddoc %}
{% doc %}
  Renders a text block.
{% enddoc %}

<p
  class="
    text-{{ block.settings.text_alignment }}
    w-full
    color-{{ block.settings.color_scheme }}
    overflow-ellipsis
    text-nowrap
    {{ block.settings.font_weight }}
    {{ block.settings.font_style }}
    text-[{{ block.settings.font_size }}px]
  "
  {{ block.shopify_attributes }}
>
  {{ block.settings.text }}
</p>

{% schema %}
{
  "name": "Plain Text Block",
  "settings": [
    { "type": "text", "id": "text", "label": "Text", "default": "Plain text block" },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font Size (px)",
      "min": 12,
      "max": 48,
      "step": 1,
      "default": 16
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font Weight",
      "default": "font-normal",
      "options": [
        { "value": "font-normal", "label": "Normal" },
        { "value": "font-bold", "label": "Bold" },
        { "value": "font-light", "label": "Light" }
      ]
    },
    {
      "type": "select",
      "id": "font_style",
      "label": "Font Style",
      "default": "not-italic",
      "options": [
        { "value": "not-italic", "label": "Normal" },
        { "value": "italic", "label": "Italic" }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [{ "name": "Plain Text Block", "category": "Text" }]
}
{% endschema %}
