<!doctype html>
<html
  lang="{{ request.locale.iso_code }}"
  dir="{% if request.locale.iso_code == 'ar' %}rtl{% else %}ltr{% endif %}"
>
  <head>
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {{ 'async-app.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'async-animation.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'async-critical.css' | asset_url | stylesheet_tag: preload: true }}

    <link rel="stylesheet" href="{{ 'async-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript>
      <link rel="stylesheet" href="{{ 'async-model-viewer-ui.css' | asset_url }}">
    </noscript>

    <script src="{{ 'plugin-alpine.min.js' | asset_url }}" defer></script>
    <script src="{{ 'plugin-menu-toggle-mobile.js' | asset_url }}" defer></script>
    <script src="{{ 'plugin-menu-toggle.js' | asset_url }}" defer></script>
    <script src="{{ 'plugin-mega-menu.js' | asset_url }}" defer></script>
    <script src="{{ 'plugin-shopify-money.js' | asset_url }}" defer></script>
    <script src="{{ 'plugin-stickybits.min.js' | asset_url }}" defer></script>
    <link rel="stylesheet" href="{{ 'async-swiper-bundle.min.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript>
      <link rel="stylesheet" href="{{ 'async-swiper-bundle.min.css' | asset_url }}">
    </noscript>
    <script src="{{ 'plugin-swiper-bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'plugin-swiper-init.js' | asset_url }}" defer></script>

    {% render 'color-schemes' %}
    {% render 'meta-tags' %}
    {{ content_for_header }}
  </head>

  <body class="overflow-x-hidden font-sans antialiased">
    {% comment %} popup container {% endcomment %}
    {%- if settings.enable_popup == true -%}
      {% render 'popup-landpage' %}
    {%- endif -%}

    {% # Load the header and footer sections %}
    <div id="header-group" class="hidden md:block">
      {% sections 'header-group' %}
      <script src="{{ 'plugin-header.js' | asset_url }}" defer></script>
    </div>

    <div id="mobile-header" class="block md:hidden">
      {% section 'mobile-header' %}
    </div>

    <div
      id="main-content"
      {{ settings.card_hover_effect }}
      class="{{ settings.page_width }} mx-auto z-10"
      style="padding: {{ settings.page_padding_vertical }}px {{ settings.page_padding_horizontal }}px"
    >
      {{ content_for_layout }}
    </div>

    <div id="footer-group" class="hidden md:block">
      {% sections 'footer-group' %}
    </div>
    <div id="mobile-navigator" class="block md:hidden z-50">
      {% section 'mobile-navigator' %}
    </div>

    {% if settings.enable_random_product_popup %}
      {% render 'popup-random-product' %}
    {% endif %}
  </body>
</html>
