<!doctype html>
<html
  lang="{{ request.locale.iso_code }}"
  dir="{% if request.locale.iso_code == 'ar' %}rtl{% else %}ltr{% endif %}"
>
  <head>
    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {% # Load and preload the critical CSS %}
    {{ 'app.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'animation.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    <script src="{{ 'alpine.min.js' | asset_url }}" defer></script>
    <link rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css">
    <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>

    {% # Social, title, etc. %}
    {% render 'color-schemes' %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% # Load the header and footer sections %}
    <div id=" fixed top-0 z-50">
      {% sections 'header-group' %}
    </div>

    <div
      class="welcome w-screen flex items-center justify-center text-center"
      style="
        background-image: linear-gradient(rgba(255, 192, 203, 0.6), rgba(255, 182, 193, 0.6)), url('{{ 'home.jpg' | asset_url }}');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      "
    >
      <div class="welcome-content max-w-4xl py-20 px-10 ">
        <h1 class="text-5xl font-bold text-pink-900 drop-shadow-md">Hello, World!</h1>

        <p class="welcome-description text-lg md:text-xl text-pink-800 leading-relaxed mt-6">
          The Skeleton theme is a minimal, carefully structured Shopify theme designed to help you quickly get started.
          Designed with modularity, maintainability, and Shopify's best practices in mind.
        </p>

        <p class="welcome-description text-lg md:text-xl text-pink-800 leading-relaxed mt-4">
          Themes shape the online store experience for merchants and their customers. Build fast, flexible themes at
          scale using Liquid, Shopify's theme templating language, along with HTML, CSS, JavaScript, and JSON.
        </p>

        <button class="mt-8 px-8 py-3 bg-pink-800 text-white text-lg font-semibold rounded-full shadow-lg hover:bg-pink-700 hover:shadow-xl transition-all duration-300">
          Get Started
        </button>
      </div>
    </div>
    <div
      id="main-content"
      class="{{ settings.page_width }} {{ settings.card_hover_effect }} mx-auto z-10"
      style="padding: {{ settings.page_padding_vertical }}px {{ settings.page_padding_horizontal }}px"
    >
      {{ content_for_layout }}
    </div>

    {% sections 'footer-group' %}
  </body>
</html>
