<!doctype html>
<html
  lang="{{ request.locale.iso_code }}"
  dir="{% if request.locale.iso_code == 'ar' %}rtl{% else %}ltr{% endif %}"
>
  <head>
    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {% # Load and preload the critical CSS %}
    {{ 'app.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'animation.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'color-schema.css' | asset_url | stylesheet_tag: preload: true }}

    <script src="{{ 'alpine.min.js' | asset_url }}" defer></script>
    <link rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css">
    <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'menu-toggle-mobile.js' | asset_url }}" defer></script>
    <script src="{{ 'menu-toggle.js' | asset_url }}" defer></script>
    <script src="{{ 'mega-menu.js' | asset_url }}" defer></script>
    <script src="{{ 'shopify-money.js' | asset_url }}" defer></script>
    <script src="{{ 'product-variant-switcher.js' | asset_url }}" defer></script>

    {% # Social, title, etc. %}
    {% render 'color-schemes' %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body class="overflow-x-hidden font-sans antialiased">
    {% comment %} popup container {% endcomment %}
    {%- if settings.enable_popup == true -%}
      {% render 'popup-landpage' %}
    {%- endif -%}

    {% # Load the header and footer sections %}
    <div id="header-group" class="hidden md:block">
      {% sections 'header-group' %}
    </div>

    <div id="mobile-header" class="block md:hidden">
      {% section 'mobile-header' %}
    </div>


    <div
      id="main-content"
      {{ settings.card_hover_effect }}
      class="{{ settings.page_width }} mx-auto z-10"
      style="padding: {{ settings.page_padding_vertical }}px {{ settings.page_padding_horizontal }}px"
    >
      {{ content_for_layout }}
    </div>

    <div id="footer-group" class="hidden md:block">
      {% sections 'footer-group' %}
    </div>
    <div id="mobile-navigator" class="block md:hidden z-50">
      {% section 'mobile-navigator' %}
    </div>

    {% if settings.enable_random_product_popup %}
      {% render 'popup-random-product' %}
    {% endif %}

    
  </body>
</html>
