<!doctype html>
<html
  lang="{{ request.locale.iso_code }}"
  dir="{% if request.locale.iso_code == 'ar' %}rtl{% else %}ltr{% endif %}"
>
  <head>
    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {% # Load and preload the critical CSS %}
    {{ 'app.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'color-schemes' %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% # Load the header and footer sections %}
    <div id="header-group z-50">
      {% sections 'header-group' %}
    </div>

    <div
      id="main-content z-10"
      class="{{ settings.page_width }} {{ settings.card_hover_effect }} mx-auto"
      style="padding: {{ settings.page_padding_vertical }}px {{ settings.page_padding_horizontal }}px"
    >
      {{ content_for_layout }}
    </div>

    {% sections 'footer-group' %}
  </body>
</html>


