{% comment %}
  This section is used in the list-collections template to render a list of
  collections.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

{% comment %} <div class="flex flex-col items-center my-8">
  <h1 class="text-3xl font-medium">
    {{ section.settings.title }}
  </h1>
  <div class="max-w-6xl mx-auto my-3">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      {% for collection in collections %}
        {% if collection.all_products_count > 0 %}
          <div class="w-full py-6 px-3">
            <div class="bg-white border overflow-hidden">
              <a href="{{ collection.url }}">
                <div class="h-80 overflow-hidden">
                  {% if collection.featured_image != blank %}
                    {% assign collection_image = collection.featured_image %}
                  {% else %}
                    {% assign collection_image = collection.products.first.image %}
                  {% endif %}

                  <img
                    src="{{ collection_image | image_url: 'medium' }}"
                    alt="{{ collection.title | escape }}"
                    width="auto"
                    height="auto"
                    class="w-full h-full object-cover rounded-md mb-4 transition duration-1000 ease-in-out hover:scale-105 transform"
                  >
                </div>
              </a>

              <div class="bg-gray-100 p-4">
                <h1 class="text-xl">{{ collection.title }}</h1>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Template List Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %} {% endcomment %}


<h1>{{ 'collections.title' | t }}</h1>

<div
  class="collections {{ section.settings.grid_item_width }}"
  style="--grid-gap: {{ section.settings.grid_gap }}px"
>
  {% for collection in collections %}
    <a class="collection-card" href="{{ collection.url }}">
      {% if collection.featured_image %}
        {% render 'image',
          class: 'collection-card__image',
          image: collection.featured_image,
          width: 600,
          height: 600,
          crop: 'center'
        %}
      {% endif %}

      <div class="collection-card__content">
        <p>{{ collection.title }}</p>

        {% if collection.description %}
          <p>{{ collection.description | strip_html | truncatewords: 15 }}</p>
        {% endif %}
      </div>
    </a>
  {% endfor %}
</div>

{% stylesheet %}
  .collections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--collection-card-size), 100%), 1fr));
    gap: var(--grid-gap);
  }
  .collections--compact {
    --collection-card-size: 160px;
  }
  .collections--full {
    --collection-card-size: 280px;
  }
  .collection-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collections_grid",
  "settings": [
    {
      "type": "select",
      "id": "grid_item_width",
      "label": "t:labels.grid_item_width",
      "options": [
        { "value": "collections--compact", "label": "t:options.size.small" },
        { "value": "collections--full", "label": "t:options.size.large" }
      ],
      "default": "collections--full"
    },
    {
      "type": "range",
      "id": "grid_gap",
      "label": "t:labels.grid_gap",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 10
    }
  ],
  "presets": [{ "name": "t:general.collections_grid" }]
}
{% endschema %}
