{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  //quickstart-a2f667fa.myshopify.com/cdn/shop/files/all_medium.webp?v=1746350113
  files/all.webp

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}
<style>
  .product--medias {
    position: sticky;
    top: 0px;
  }
  .thumbnail-slider .swiper-slide {
    width: fit-content;
    height: fit-content;
    opacity: 0.7;
    transition: opacity 0.3s;
  }

  .thumbnail-slider .swiper-slide:hover {
    opacity: 1;
    cursor: pointer;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: black;
    top: 50% !important;
    height: 20px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px;
  }
  .swiper-pagination {
    color: black;
    bottom: 0 !important;
  }
  .swiper-pagination-bullet-active {
    background: black !important;
  }
  .product--information {
    height: fit-content;
  }
</style>

{% assign default_variant = product.selected_or_first_available_variant %}
{% assign slected_variant = blank %}

<div x-data="{ productModalOpen: false }">
  <div class="max-w-6xl mx-auto">
    {% comment %} {% render 'bread-crumb' %} {% endcomment %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
      <div class="product--medias sticky top-0">
        <div>
          {% assign first_media = product.media | first %}
          <div id="main-product-image" class="overflow-hidden p-2" data-current-media-id="{{ first_media.id }}">
            {% render 'product-media', media: first_media, height: '220px', width: '220px' %}
          </div>

          <!-- صور الميديا المخفية -->
          <div id="all-variant-media" class="hidden">
            {% for media in product.media %}
              <div data-media-id="{{ media.id }}" class="overflow-hidden p-2">
                {% render 'product-media', media: media, mediaId: media.id, height: '220px', width: '220px' %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="thumbnail-slider">
          <div class="swiper thumbnails-swiper">
            <div class="swiper-wrapper">
              {% for media in product.media offset: 1 %}
                <div class="swiper-slide">
                  <button class="thumbnail-container_{{ media.id }} shadow-md">
                    {% render 'product-media', media: media, height: '180px', width: '180px', mediaId: media.id %}
                  </button>
                </div>
              {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>

      <div class="product--information px-4">
        {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
          <div class="flex justify-start gap-4 text-sm">
            <span class=" text-gray-400">
              {{ section.blocks.settings.vendor_name | default: product.vendor }}
            </span>
            <button
              type="button"
              onclick="navigator.clipboard.writeText('{{ shop.url }}{{ product.url }}').then(() => { alert('Product URL copied!'); })"
              class=""
            >
              Share
            </button>
          </div>
          <input type="hidden" id="formInput" name="id" value="{{ default_variant.id }}">

          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'title' %}
                <div class="my-3">
                  <h1 class="text-3xl text-gray-900 uppercase">{{ product.title }}</h1>
                </div>
              {% when 'vendor' %}
                <div class="my-3 flex items-center gap-2">
                  {% if block.settings.vendor_type == 'image' and block.settings.vendor_image != blank %}
                    <img
                      src="{{ block.settings.vendor_image | image_url: width: 50, height: 50  }}"
                      alt="{{ product.vendor }}"
                      class="h-10 w-10 object-cover rounded-full"
                      width=""
                      height=""
                    >
                  {% else %}
                    <span class="text-xs text-gray-500">
                      {{ block.settings.vendor_name | default: product.vendor }}
                    </span>
                  {% endif %}
                </div>

              {% when 'price' %}
                <div class="my-3" id="price-{{ section.id }}">
                  <span class="text-base text-gray-500 line-through">
                    {{- default_variant.compare_at_price | money -}}
                  </span>
                  <span class="text-lg text-gray-900">{{ default_variant.price | money }}</span>

                  {% if default_variant.price < default_variant.compare_at_price %}
                    <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                  {% endif %}
                </div>
              {% when 'product-variant' %}
                {% render 'product-variant', product: product %}

              {% when 'quantity' %}
                <div class="my-3">
                  <label for="Quantity-{{ section.id }}">Quantity</label>

                  <div class="my-2">
                    <input
                      type="number"
                      name="quantity"
                      id="Quantity-{{ section.id }}"
                      value="1"
                      min="1"
                      class="w-full border px-3 py-3"
                    >
                  </div>
                </div>
              {% when 'description' %}
                <div class="my-3">
                  <p class="text-gray-700">{{ product.description }}</p>
                </div>

              {% when 'checkout_buttons' %}
                <div class="my-3">
                  <button
                    type="submit"
                    name="add"
                    class="w-full px-6 py-4 bg-gray-900 text-white hover:bg-gray-700 rounded-sm my-2"
                    {% if default_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    {% if default_variant.available == false %}
                      Sold out
                    {% else %}
                      Add to cart
                    {% endif %}
                  </button>
                </div>
              {% when 'sku' %}
                <span class="text-gray-400 text-sm" id="container-sku">
                  {% if default_variant.sku != blank %}
                    {{ default_variant.sku }}
                  {% endif %}
                </span>
              {% else %}

            {% endcase %}
          {% endfor %}
        {% endform %}
      </div>
    </div>
  </div>

  <style>
    .media model-viewer,
    .media > * {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>

  <div id="productModelModal">
    <div x-show="productModalOpen" class="w-full h-full z-50 items-center fixed inset-0">
      <div class="relative w-full h-full bg-white">
        <div class="relative">
          <div class="flex justify-between items-start p-5 border-b">
            <h2 class="text-xl font-bold text-gray-700">3D Model Preview</h2>
            <button
              x-on:click="productModalOpen = false"
              class="text-gray-400 bg-transparent hover:text-gray-700 rounded text-sm p-2 ml-auto inline-flex items-center"
            >
              {% render 'icon-close' %}
            </button>
          </div>

          <div id="body" class="media block relative" style="padding-top: min(calc(100vh - 5rem), 100%);"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ 'product-model.js' | asset_url }}" defer></script>
<script src="{{ 'product-variant-switcher.js' | asset_url }}" defer></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    window.thumbnailsSwiper = new Swiper('.thumbnails-swiper', {
      slidesPerView: 3,
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        768: {
          slidesPerView: 3,
          spaceBetween: 15,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Product",
  "blocks": [
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "vendor_image",
          "label": "Vendor Image"
        },
        {
          "type": "select",
          "id": "vendor_type",
          "label": "Vendor View Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ]
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "product-variant",
      "name": "product variant",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "checkout_buttons",
      "name": "Checkout Buttons",
      "limit": 1
    }
  ]
}
{% endschema %}
