{% assign section_image_title = section.settings.section_image_title %}
{% assign section_image_description = section.settings.section_image_description %}
{% assign section_image_button = section.settings.section_image_button %}
{% assign section_product_url = section.settings.section_product.url %}
{% assign button_text = section.settings.button_text %}
{% assign text_alignment = section.settings.text_alignment %}

<article class="relative max-w-7xl h-[500px] flex m-auto text-white">
    <div class="relative z-10 flex flex-col justify-center items-center h-full p-6 w-full {{ text_alignment }}">
      <h2 class="text-2xl md:text-3xl font-bold">{{ section_image_title }}</h2>
      <p class="mt-2 text-lg">{{ section_image_description }}</p>
      {%- if section_image_button -%}
        <a href="{{ section_product_url }}" class="mt-4 inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg">{{ button_text }}</a>
      {%- endif -%}
    </div>
  </article>

  
{% schema %}
{
  "name": "Image With Text Overlay",
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "Choose an image for this section"
    },
    {
      "type": "text",
      "id": "section_image_title",
      "label": "Image Title",
      "default": "Image Title"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-center",
      "info": "Choose the alignment of the Text"
    },
    {
      "type": "textarea",
      "id": "section_image_description",
      "label": "Section Image Description",
      "default": "Image Description"
    },
    {
      "type": "checkbox",
      "id": "section_image_button",
      "label": "Section Image Button",
      "default": true
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Show More"
    },
    {
      "type": "product",
      "id": "section_product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Image with Text Overlay"
    }
  ]
}
{% endschema %}
