{% liquid
  assign section_id = section.id
  assign slider_height = section.settings.slider_height
  assign padding_vertical = section.settings.padding-vertical
%}

<div id="shopify-section-{{ section_id }}" class="relative w-full p-4 md:p-0">
  <!-- Slider -->
  <div
    class="swiper mySwiper-{{ section_id }}"
    data-next-btn="swiper-button-next-{{ section_id }}"
    data-prev-btn="swiper-button-prev-{{ section_id }}"
    data-slides-per-view="1"
    data-slides-per-view-mobile="1"
    data-autoplay="true"
    data-autoplay-delay="2500"
  >
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.type == 'slide' %}
          <div class="swiper-slide">
            {% if block.settings.image %}
              {% render 'image',
                image: block.settings.image,
                class: 'object-cover',
                width: 1920,
                height: 1000 ,
                crop: 'center',
                alt: block.settings.title,
                sizes: '(max-width: 640px) 100vw, (max-width: 1024px) 100vw, 1920px'
              %}
            {% endif %}
            {% if block.settings.show_title_description == true %}
              <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white p-6">
                <h2 class="text-3xl font-bold">{{ block.settings.title }}</h2>
                <p class="mt-2 max-w-2xl">{{ block.settings.text }}</p>
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Slider Controls -->
    <div class="swiper-button-next swiper-button-next-{{ section_id }} text-white"></div>
    <div class="swiper-button-prev swiper-button-prev-{{ section_id }} text-white"></div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Grid (3 images) -->
  <div
    class="sm:swiper mySwiper-grid mt-3 w-full relative"
    data-next-btn="swiper-button-next-grid"
    data-prev-btn="swiper-button-prev-grid"
    data-slides-per-view="3"
    data-slides-per-view-mobile="1"
    data-autoplay="false"
    data-autoplay-delay="2500"
  >
    <div class="swiper-wrapper md:grid md:grid-cols-3">
      {% for block in section.blocks %}
        {% if block.type == 'grid_image' %}
          <div class="swiper-slide relative group overflow-hidden shadow-lg">
            {% if block.settings.grid_image %}
              <div class="relative group overflow-hidden shadow-lg aspect-square w-full h-[180px] md:h-[280px]">
                {% render 'image',
                  image: block.settings.grid_image,
                  class: 'object-cover group-hover:scale-105 transition-transform duration-500',
                  width: 628,
                  crop: 'center',
                  alt: block.settings.grid_title | escape,
                  sizes: '(max-width: 640px) 100vw, (max-width: 1024px) 50vw, 33vw'
                %}
              </div>
            {% endif %}
            <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white p-4">
              <h3 class="text-xl font-semibold">{{ block.settings.grid_title }}</h3>
              <p class="mt-2">{{ block.settings.grid_text }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Controls تظهر فقط على الموبايل -->
    <div class="swiper-pagination sm:block md:hidden"></div>
  </div>
</div>

{% schema %}
{
  "name": "Slider with Grid",
  "settings": [
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "range",
      "id": "slider_height",
      "label": "Slider Height (px)",
      "default": 500,
      "min": 300,
      "max": 900,
      "step": 50
    },
    {
      "type": "range",
      "id": "padding-vertical",
      "label": "Slider Height (px)",
      "default": 2,
      "min": 0,
      "max": 12,
      "step": 2
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide Image",
          "info": "image height must be 1000px and width 1920px"
        },
        {
          "type": "checkbox",
          "id": "show_title_description",
          "label": "show text",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "grid_image",
      "name": "Grid Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "grid_image",
          "label": "Image",
          "info": "image height must be 400px and width 620px",
        },
        {
          "type": "text",
          "id": "grid_title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "grid_text",
          "label": "Text"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Slider with Grid",
      "category": "Images"
    }
  ]
}
{% endschema %}
