{% liquid
  assign section_id = section.id
  assign padding_vertical = section.settings['padding-vertical']
%}

<section id="shopify-section-{{ section_id }}" class="relative w-full overflow-hidden py-[{{ padding_vertical }}px]">
  <!-- Slider -->
  <div
    class="swiper mySwiper-{{ section_id }}"
    data-next-btn="swiper-button-next-{{ section_id }}"
    data-prev-btn="swiper-button-prev-{{ section_id }}"
    data-slides-per-view="1"
    data-slides-per-view-mobile="1"
    {% comment %} data-autoplay="true" {% endcomment %}
    data-autoplay-delay="2500"
  >
    <div class="swiper-wrapper mx-w-full">
      {% for block in section.blocks %}
        {% if block.type == 'slide' %}
          <div class="swiper-slide sm:h-[500px] md:h-[750px]">
            {% if block.settings.image %}
              {% render 'image',
                image: block.settings.image,
                class: 'object-cover w-full h-full',
                width: 1920,
                height: 750,
                crop: 'center',
                alt: block.settings.title,
                sizes: '(max-width: 640px) 100vw, (max-width: 1024px) 90vw, 1920px',
                preload: true
              %}
            {% endif %}
            {% if block.settings.show_title_description == true %}
              <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white p-6">
                <h2 class="text-3xl font-bold">{{ block.settings.title }}</h2>
                <p class="mt-2 max-w-2xl">{{ block.settings.text }}</p>
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Slider Controls -->
    <div
      class="swiper-button-next swiper-button-next-{{ section_id }} text-white"
      aria-label="swiper-button-next-{{ section_id }}"
    ></div>
    <div
      class="swiper-button-prev swiper-button-prev-{{ section_id }} text-white"
      aria-label="swiper-button-prev-{{ section_id }}"
    ></div>
    {% comment %} <div class="swiper-pagination"></div> {% endcomment %}
  </div>
</section>

{% schema %}
{
  "name": "Section Slider",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "range",
      "id": "slider_height",
      "label": "Slider Height (px)",
      "default": 500,
      "min": 300,
      "max": 900,
      "step": 50
    },
    {
      "type": "range",
      "id": "padding-vertical",
      "label": "Slider Height (px)",
      "default": 2,
      "min": 0,
      "max": 12,
      "step": 2
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide Image",
          "info": "image height must be 1000px and width 1920px"
        },
        {
          "type": "checkbox",
          "id": "show_title_description",
          "label": "show text",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Section Slider",
      "category": "Images"
    }
  ]
}
{% endschema %}
