{% assign section_image = section.settings.image %}
{% assign section_image_title = section.settings.section_image_title %}
{% assign section_image_description = section.settings.section_image_description %}
{% assign section_image_button = section.settings.section_image_button %}
{% assign section_product_url = section.settings.section_product.url %}
{% assign button_text = section.settings.button_text %}
{% assign text_alignment = section.settings.text_alignment %}
{%- assign section_border = section.settings.section_border -%}

<article>
  <div class="flex flex-col md:flex-row items-stretch m-0 py-12">
    <div class="w-full">
      <ul class="w-full md:max-w-7xl mx-auto">
        <li class="w-full flex flex-col items-center md:items-start">
          <div class=" p-6 {% if section_border %}shadow-md rounded-lg bg-gray-200{% endif %} w-full">
            <figure class="relative">
              <span class="absolute inset-0 bg-black opacity-50"></span>
              <picture>
                {% if section_image %}
                  <img
                    src="{{ section_image | file_url | replace: 'files/files/', 'files/'  }}"
                    width="640"
                    height="500px"
                    alt="Image description"
                    class="object-cover w-full h-[500px]"
                    loading="lazy"
                  >
                {% else %}
                  {{ 'product-1' | placeholder_svg_tag: 'w-full h-48 object-cover rounded-md mb-4' }}
                {% endif %}
              </picture>
            </figure>
            <div class="mt-4 {{ text_alignment }}">
              <h2 class="text-xl md:text-2xl font-bold">{{ section_image_title }}</h2>
              <p class="text-gray-600">{{ section_image_description }}</p>
              {%- if section_image_button -%}
                <a
                  href="{{ section_product_url }}"
                  class="mt-4 text-blue-600 font-semibold"
                >
                  {{ button_text }}
                </a>
              {%- endif -%}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</article>

<style>
  @media (min-width: 768px) {
    .md\:max-w-screen-lg {
      max-width: 1024px;
    }
  }
</style>

{% schema %}
{
  "name": "Image With Text Section",
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "Choose an image for this section",
      "info": "Image Size Must Be 500 * 640"
    },
    {
      "type": "text",
      "id": "section_image_title",
      "label": "Image Title",
      "default": "Image Title"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-center",
      "info": "Choose the alignment of the Text"
    },
    {
      "type": "textarea",
      "id": "section_image_description",
      "label": "Section Image Description",
      "default": "Image Description"
    },
    {
      "type": "checkbox",
      "id": "section_image_button",
      "label": "Section Image Button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "section_border",
      "label": "Section Border",
      "default": true
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Show More"
    },
    {
      "type": "product",
      "id": "section_product",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Image With Text Section"
    }
  ]
}
{% endschema %}
