{% liquid
  assign section_id = section.id
  assign color_scheme = section.settings.color_scheme
  assign bg_image = section.settings.image
  assign heading = section.settings.heading
  assign subheading = section.settings.subheading
  assign button_text = section.settings.button_text
  assign button_link = section.settings.button_link
%}

<section
  id="shopify-section-{{ section_id }}"
  class="welcome relative w-full h-[500px] sm:h-[500px] md:h-[750px] flex items-center justify-center text-center color-{{ color_scheme }}"
>
  <!-- الخلفية -->
  {% if bg_image != blank %}
    {% render 'image',
      image: bg_image,
      class: 'object-cover absolute inset-0 w-full h-full',
      alt: heading,
      preload: true,
    %}
  {% endif %}

  <!-- المحتوى -->
  <div class="welcome-content absolute w-full py-20 px-10 text-white text-center">
    {% if heading != blank %}
      <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold drop-shadow-md">
        {{ heading }}
      </h1>
    {% endif %}

    {% if subheading != blank %}
      <p class="welcome-description text-xs sm:text-sm md:text-lg lg:text-xl leading-relaxed mt-6">
        {{ subheading }}
      </p>
    {% endif %}

    {% if button_text != blank %}
      <a
        aria-label="{{ button_text }}"
        href="{{ button_link }}"
        class="mt-8 inline-block px-6 sm:px-8 py-2 sm:py-3 text-xs sm:text-sm md:text-base lg:text-lg font-semibold rounded-full shadow-none hover:bg-pink-700 hover:shadow-2xl transition-all duration-300"
      >
        {{ button_text }}
      </a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Image Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image",
      "info": "Recommended size: 1800 x 1000 pixels"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome to Our Store"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Discover our collection of amazing products."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Image Banner",
      "category": "Images"
    }
  ]
}
{% endschema %}
