{% liquid
  assign section_id = section.id
  assign padding_vertical = section.settings.padding_vertical
  assign padding_horizontal = section.settings.padding_horizontal
  assign link_bg_color = section.settings.link_bg_color
  assign link_text_color = section.settings.link_text_color
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_rounded = section.settings.button_rounded
%}

<section
  id="shopify-section-{{ section_id }}"
  class="relative w-full overflow-hidden"
  style="padding: {{ padding_vertical }}px {{ padding_horizontal }}px"
>
  <!-- Horizontal scroll container -->
  <div
    class="flex gap-4 overflow-x-auto scrollbar-hide md:grid md:grid-cols-3 md:gap-6"
  >
    {% for block in section.blocks %}
      {% if block.type == 'grid_image' %}
        {% liquid
          assign grid_image = block.settings.grid_image
          assign grid_title = block.settings.grid_title
          assign grid_text = block.settings.grid_text
          assign button_label = block.settings.button_label
          assign button_link = block.settings.button_link
        %}
        <div class="flex-shrink-0 w-10/12 sm:w-8/12 md:w-auto group overflow-hidden relative aspect-[628/420]">
          {% if grid_image %}
              {%
                render 'image',
                image: grid_image,
                class: 'object-cover group-hover:scale-105 group-hover:shadow-xl transition-transform duration-500',
                width: 620,
                height: 410,
                crop: 'center',
                alt: grid_title | escape,
              %}
          {% endif %}
          <div class="absolute inset-0 flex flex-col gap-3 justify-center items-center text-center text-white p-4">
            {% if grid_title != blank %}
              <h3 class="text-xl font-semibold">{{ grid_title }}</h3>
            {% endif %}
            {% if grid_text != blank %}
              <p class="mt-2">{{ grid_text }}</p>
            {% endif %}
            {% if button_label != blank and button_link != blank %}
              {% render 'button',
                type: 'link',
                url: button_link,
                class: button_rounded,
                data_label: grid_title,
                text: button_label,
                bg_color: link_bg_color,
                text_color: link_text_color,
                padding_vertical: button_padding_vertical,
                padding_horizontal: button_padding_horizontal,
              %}
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>


{% comment %} {% liquid
  assign section_id = section.id
  assign padding_vertical = section.settings.padding_vertical
  assign padding_horizontal = section.settings.padding_horizontal
  assign link_bg_color = section.settings.link_bg_color
  assign link_text_color = section.settings.link_text_color
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_rounded = section.settings.button_rounded
%}

<section
  id="shopify-section-{{ section_id }}"
  class="relative w-full overflow-hidden"
  style="padding: {{ padding_vertical }}px {{ padding_horizontal }}px"
>
  <!-- Grid (3 images) -->
  <div
    class="sm:swiper mySwiper-grid w-full relative"
    data-next-btn="swiper-button-next-grid"
    data-prev-btn="swiper-button-prev-grid"
    data-slides-per-view="3"
    data-slides-per-view-mobile="1"
    data-autoplay="false"
    data-autoplay-delay="2500"
  >
    <div class="swiper-wrapper md:grid md:grid-cols-3">
      {% for block in section.blocks %}
        {% if block.type == 'grid_image' %}
          {% liquid
            assign grid_image = block.settings.grid_image
            assign grid_title = block.settings.grid_title
            assign grid_text = block.settings.grid_text
            assign button_label = block.settings.button_label
            assign button_link = block.settings.button_link
          %}
          <div class="swiper-slide group overflow-hidden  max-w-10/11 relative aspect-[628/420]">
            {% if grid_image %}
                {%
                  render 'image',
                  image: grid_image,
                  class: 'object-cover group-hover:scale-105 group-hover:shadow-xl transition-transform duration-500',
                  width: 620,
                  height: 410,
                  crop: 'center',
                  alt: grid_title | escape,
                %}
            {% endif %}
            <div class="absolute inset-0 flex flex-col gap-3 justify-center items-center text-center text-white p-4">
              {% if grid_title != blank %}
                <h3 class="text-xl font-semibold">{{ grid_title }}</h3>
              {% endif %}
              {% if grid_text != blank %}
                <p class="mt-2">{{ grid_text }}</p>
              {% endif %}
              {% if button_label != blank and button_link != blank %}
                {% render 'button',
                  type: 'link',
                  url: button_link,
                  class: button_rounded,
                  data_label: grid_title,
                  text: button_label,
                  bg_color: link_bg_color,
                  text_color: link_text_color,
                  padding_vertical: button_padding_vertical,
                  padding_horizontal: button_padding_horizontal,
                %}
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Controls تظهر فقط على الموبايل -->
    <div class="swiper-pagination sm:block md:hidden"></div>
  </div>
</section> {% endcomment %}

{% schema %}
{
  "name": "Section Grid",
  "settings": [
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "range",
      "id": "padding_vertical",
      "label": "Section Padding y (px)",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "label": "Section Padding x (px)",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "color",
      "id": "link_bg_color",
      "label": "Button Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "link_text_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "label": "Button padding vertical (px)",
      "default": 5,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "label": "Button padding horizontal (px)",
      "default": 5,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "select",
      "id": "button_rounded",
      "label": "button rounded",
      "options": [
        {
          "value": "rounded-sm",
          "label": "small"
        },
        {
          "value": "rounded-md",
          "label": "medium"
        },
        {
          "value": "rounded-lg",
          "label": "large"
        },
        {
          "value": "rounded-xl",
          "label": "X large"
        },
        {
          "value": "rounded-full",
          "label": "full"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "grid_image",
      "name": "Grid Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "grid_image",
          "label": "Image",
          "info": "Recommended size: 620x410px"
        },
        {
          "type": "text",
          "id": "grid_title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "grid_text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Section Grid",
      "category": "Images"
    }
  ]
}
{% endschema %}
