{% comment %} {% liquid
  assign item_in_row = section.settings.item_in_row
  assign group_title = section.settings.show_group_title
  assign show_title  = section.settings.show_title
  assign title       = section.settings.title

  assign vendors = ""

  for product in collections.all.products
    unless vendors contains product.vendor and product.vendor != ""
      assign vendors = vendors | append: product.vendor | append: ","
    endunless
  endfor

  assign unique_vendors = vendors | split: ',' | uniq | sort
  assign current_letter = ""
%} {% endcomment %}

{%- assign item_in_row = section.settings.item_in_row -%}
{%- assign group_title = section.settings.show_group_title -%}

<div class="flex max-w-7xl mx-auto py-8">
  {% if section.settings.show_title == true %}
    <h1 class="text-3xl font-medium">
      {{ section.settings.title }}
    </h1>
  {% endif %}
  <div class="w-full">
      {% assign vendors = "" %}

      {% for product in collections.all.products %}
        {% unless vendors contains product.vendor and product.vendor != "" %}
          {% assign vendors = vendors | append: product.vendor | append: "," %}
        {% endunless %}
      {% endfor %}

      {% assign unique_vendors = vendors | split: ',' | uniq | sort %}  <!-- تم إضافة sort هنا لترتيب الفيندورات -->

      {% assign current_letter = "" %}
      {% for vendor in unique_vendors %}
        <div class="flex flex-col py-4">
          {% if vendor != "" %}
            {% assign first_letter = vendor | slice: 0, 1 | downcase %}
            
            {% if group_title and first_letter != current_letter %}
              {% assign current_letter = first_letter %}
              <div class="w-full py-3 px-3">
                <h2 class="text-2xl font-semibold">{{ first_letter | upcase }}</h2>
              </div>
            {% endif %}
            
            <div class="grid grid-cols-1 md:grid-cols-{{ item_in_row }} gap-6">
              <div class="bg-white shadow-md border rounded-lg hover:bg-headerLightColor hover:text-white overflow-hidden">
                <a href="/collections/vendors?q={{ vendor | url_encode }}">
                  <div class="p-4">
                    <h1 class="text-xl">{{ vendor }}</h1>
                  </div>
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

{% schema %}
{
  "name": "List Vendors",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Title",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_group_title",
      "label": "Show Group Title",
      "default": true
    },
    {
      "type": "range",
      "id": "item_in_row",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Item In Row",
      "default": 3
    },
  ],
  "presets": [
    {
      "name": "Vendors List"
    }
  ]
}
{% endschema %}
